{% extends 'layouts/client.html' %}

{% block title %}Client Chat - EcoVision{% endblock %}


{% block head %}
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/main/room/chats.css')}}">
<title>Business Chats</title>
{% endblock %}


{% block content %}
<!-- start: Chat -->
<section class="chat-section">
  <div class="chat-container">

    <!-- start: Content -->
    <div class="chat-content">
      <!-- start: Content side -->
      <div class="content-sidebar">
        <div class="content-sidebar-title">Business Chats</div>
        <form action="" class="content-sidebar-form">
          <input type="search" class="content-sidebar-input" placeholder="Search...">
          <button type="submit" class="content-sidebar-submit"><i class="ri-search-line"></i></button>
        </form>
        <div class="content-messages">
          <ul class="content-messages-list">

            <li>
              <a href="#" data-conversation="#conversation-1">

                <span class="content-message-info">
                  <span class="content-message-name"></span>
                  <span class="content-message-text"></span>
                </span>
                <span class="content-message-more">
                  <span class="content-message-unread"></span>
                  <span class="content-message-time"></span>
                </span>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!-- end: Content side -->
    <!-- start: Conversation -->
    <div class="conversation conversation-default active">
      <i class="ri-chat-3-line"></i>
      <p>Select chat and view conversation!</p>
    </div>
    <div class="conversation" id="conversation-1">
      <div class="conversation-top">
        <button type="button" class="conversation-back"><i class="ri-arrow-left-line"></i></button>

      </div>
    </div>
    <!-- end: Conversation -->
  </div>
  <!-- end: Content -->
  </div>
</section>
<!-- end: Chat -->
<script src="{{ url_for('static', filename='js/chats.js')}}"></script>
{% endblock %}