{% extends "layouts/main.html" %}

{% block title %}Account - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/account.css') }}" />
{% endblock %}

{% block content %}
<div class="container" id="account-page">
    <div class="account">
        <p style="font-size: 20px; text-transform:capitalize">Welcome, {{ current_user.username }}</p>
        {% if current_user.company %}
        <p>Company: {{ current_user.company }}</p>
        {% endif %}


        <div class="list-pages">
            <ul>
                <li><span>Navigate</span></li>
                {% if current_user.type == 'client' %}
                <li><a href="{{url_for('client.dashboard')}}">Client page</a></li>
                {% endif %}
                {% if current_user.type != 'client' %}
                <li><a href="{{url_for('staff.dashboard')}}">Staff page</a></li>
                {% endif %}
            </ul>
        </div>

        <a href="{{ url_for('auth.logout') }}" class="logout btn btn-dark">Logout</a>
    </div>
</div>

{% endblock %}