{% extends "layouts/main.html" %}

{% block title %}Login - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid login-page">
  <img src="{{ url_for('static', filename='images/pexels-lumn-1410224.webp') }}">
  <div class="image-overlay"></div>
  <div class="login-container">
    <h2>Login</h2>
    <form action="" method="POST" class="needs-validation" novalidate>

      <div class="form-field">
        <label for="username">Username</label>
        {{ form.username(id_="username", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid username.
        </div>
      </div>

      <div class="form-field">
        <label for="password">Password</label>
        {{ form.password(id_="username", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
      </div>

      <div>{{form.submit()}}</div>
      {{ form.csrf_token }}

      <p class="subtext">Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
    </form>
  </div>

  <script>
    const forms = document.querySelectorAll('.needs-validation')

    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  </script>
</div>
{% endblock %}