{% extends "layouts/main.html" %}

{% block title %}Login - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid login-page">
  <img src="{{ url_for('static', filename='images/pexels-lumn-1410224.webp') }}">
  <div class="image-overlay"></div>
  <div class="login-container">
    <p style="color: white; font-size: 22px">Login</p>
    <form action="" method="POST">
      <div>{{form.username(id_="input-p2-1", class_="form-control")}}</div>
      <div>{{form.password(id_="input-p2-2", class_="form-control")}}</div>
      <div>{{form.submit()}}</div>
      {{ form.csrf_token }}
      <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a></p>
    </form>

    {% if error_message %}
    <p class="error-message"><i class="fa-regular fa-circle-info"></i>{{ error_message }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}