{% extends "layouts/main.html" %}

{% block title %}Register - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/register.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid login-page">
  <img src="{{ url_for('static', filename='images/pexels-lumn-1410224.webp') }}">
  <div class="image-overlay"></div>
  <div class="login-container">
    <p style="color: white; font-size: 22px">Register</p>
    <form action="" method="POST">
      <div class="inputs">
        <div class="group">
          <p>Personal Details</p>
          {{ form.first_name(id_="input-p2-1", class_="form-control") }}
          <div class="invalid-feedback">
            Please enter your first name.
          </div>
          {{ form.last_name(id_="input-p2-2", class_="form-control") }}
          {{ form.username(id_="input-p2-3", class_="form-control") }}
          {{ form.email(id_="input-p2-4", class_="form-control") }}
          {{ form.phone_number(id_="input-p2-5", class_="form-control") }}
          {{ form.password(id_="input-p2-6", class_="form-control") }}
        </div>

        <div class="group">
          <p>Company Details</p>
          {{ form.company_name(id_="input-p2-7", class_="form-control") }}
          {{ form.company_industry(id_="input-p2-8", class_="form-control") }}
          {{ form.company_email(id_="input-p2-9", class_="form-control") }}
          {{ form.company_phone_number(id_="input-p2-11", class_="form-control") }}
          {{ form.company_address(id_="input-p2-12", class_="form-control") }}
        </div>
      </div>

      {{ form.csrf_token }}
      <div>{{form.submit()}}</div>
      <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
    </form>

    {% if error_message %}
    <p class="error-message"><i class="fa-regular fa-circle-info"></i>{{ error_message }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}

{#
{{ form1.first_name(id_="input-p2-1", class_="form-control") }}
<div class="invalid-feedback">
  Please enter your first name.
</div>
#}