{% extends "layouts/staff.html" %}

{% block title %}Users - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/client/forms.css')}}">
{% endblock %}

{% block content %}
<div id="content">
  <section>
    <h2>Users</h2>
    <div class="addrow">
      <a href="{{ url_for('auth.user_add', type=type) }}">
        <p>Add Users</p>
      </a>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Username</th>
        {% if type == "client" %}
          <th>CompanyID</th>
        {% endif %}
        <th colspan="2">Actions</th>
      </tr>
      {% for id, user in users.items() %}
      <tr>
        <td>{{ id }}</td>
        <td>{{ user.username }}</td>
        {% if type == "client" %}
          <th>{{ user.companyID }}</th>
        {% endif %}
        <td><a href="{{ url_for('auth.user_edit', type=type, user=id) }}">Edit</a></td>
        <td><a href="{{ url_for('auth.user_delete', type=type, user=id) }}">Delete</a></td>
      <tr>
        {% endfor %}
</div>
</section>

</div>
{% endblock %}