{% extends "layouts/staff.html" %}

{% block title %}Add {{ type.capitalize() }} - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/forms.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <h1>Add {{ type.capitalize() }}</h1>
    <form action="" method="POST" class="row g-3 needs-validation" novalidate>

      <div class="col-md-4">
        <label for="first_name" class="form-label">First Name</label>
        {{ form.first_name(id_="first_name", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid first_name.
        </div>
      </div>

      <div class="col-md-4">
        <label for="last_name" class="form-label">Last Name</label>
        {{ form.last_name(id_="last_name", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid last_name.
        </div>
      </div>

      <div class="col-md-4">
        <label for="username" class="form-label">Username</label>
        {{ form.username(id_="username", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid username.
        </div>
      </div>

      <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        {{ form.email(id_="email", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid email.
        </div>
      </div>

      <div class="col-md-4">
        <label for="phone_number" class="form-label">Phone Number</label>
        {{ form.phone_number(id_="phone_number", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid phone_number.
        </div>
      </div>

      {% if type == 'client' %}
        <div class="col-md-4">
          <label for="company" class="form-label">Company</label>
          <input class="form-control" id="company" name="company" placeholder="CompanyID" required type="number" value="">
          <div class="invalid-feedback">
            Please enter a valid company.
          </div>
        </div>
      {% endif %}

      <div class="col-md-4">
        <label for="password" class="form-label">Password</label>
        {{ form.password(id_="password", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid password.
        </div>
      </div>

      <div class="col-12">
        {{ form.csrf_token }}
        <button class="btn button" type="submit">Add {{ type.capitalize() }}</button>
      </div>
    </form>

    <script>
      const forms = document.querySelectorAll('.needs-validation')

      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    </script>
  </div>
{% endblock %}