.announcements {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.tasks {
    margin: 20px;
    padding: 20px;
    background-color: #9eec9f;
    border-radius: 10px;
}

.announcements h2,
.tasks h2 {
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.add-task {
    display: block;
    margin-top: 20px;
    padding: 5px;
    width: max-content;
    text-decoration: none;
}



table {
    border-collapse: collapse;
    border-style: solid;
    border-color: rgb(119, 121, 120);
    font-size: x-large;
    color: black;
    border-spacing: 0px 2px;
    text-align: center;
    justify-content: center;
  width: 100%;
}

table th {
    font-size: 20px;
    border-bottom: 2px solid black;
    font-weight: 720;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #a3a5a7;
    justify-content: center;
}

table td{
    padding-right: 100px;
    padding-left: 100px;
    background-color: rgb(252, 245, 228);
    padding-top: 5px;
    padding-bottom: 5px;
}

table td,
table th {
    padding: 5px;
    color: inherit;
    border: solid 1px rgb(150, 150, 150);
}

table a {
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    color: #007acc;
}


