#main {
    display: flex;
    padding-top: 50px;
}

aside {
    padding: 20px;
    width: 200px;
    height: max(100vh, 100%);
    background-color: rgb(200,200,200);
}

aside a {
    color: rgb(80,80,80);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

aside a p{
    padding: 10px 5px;
}

.side-nav-selected {
    color: black;
    font-weight: bolder;
}



section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
}

.announcements {
    grid-column: 1 / span 2;
    padding: 20px;
    width: 60vw;
    background-color: white;
    border-radius: 10px;
}

.tasks {
    padding: 20px;
    background-color: lightgreen;
    border-radius: 10px;
}

.messages {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}