.announcements {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.tasks {
    margin: 20px;
    padding: 20px;
    background-color: rgb(239, 243, 177);
    border-radius: 10px;
}

.announcements h2,
.tasks h2 {
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
}

.add-task {
    display: block;
    margin-top: 20px;
    padding: 5px;
    width: max-content;
    text-decoration: none;
}



table {
    border-collapse: collapse;
}

table th {
    font-size: 20px;
}

table td,
table th {
    padding: 5px;
    color: inherit;
    border: solid 1px rgb(150, 150, 150);
}

table a {
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    color: #007acc;
}