#main {
    position: relative;
    top: 59px;
    color: white;
}

#main>div {
    position: relative;
    top: 20px;
}

section h2,
div h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}


table th {
    font-size: 20px;
}

table td,
table th {
    color: white;
}

table a {
    color: #ff7f00; /* orange */
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    color: #cc6600; /* darker orange */
}