{% extends "layouts/staff.html" %}

{% block title %}Dashboard - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/staff/dashboard.css') }}" />
{% endblock %}

{% block content %}
<div id="content">
  <section>
    <div class="announcements">
      <h2>Announcements</h2>
      <p id="a-description">{{ announcement.description }}</p>
      <p id="a-date">{{ announcement.date }}</p>
      {% if current_user.type == 'admin' %}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#announcementChangeModal">
          New Announcement
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="announcementChangeModal" tabindex="-1" role="dialog" aria-labelledby="announcementChangeModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <form action="" method="POST">

                <div class="modal-header">
                  <h5 class="modal-title" id="announcementChangeModalLabel">New Announcement</h5>
                </div>
                <div class="modal-body">
                  {{ announcementForm.description }}
                </div>
                <div class="modal-footer">
                  {{ announcementForm.csrf_token }}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="tasks">
      <h2>Tasks</h2>
      <table>
        <tr>
          <th>Role</th>
          <th>Username</th>
          <th>Description</th>
          {% if current_user.type == 'admin' %}
            <th>Actions</th>
          {% endif %}
        </tr>
        {% for task in tasks %}
          {% if (current_user.id == task.user_id and current_user.type == task.user_type) or current_user.type == 'admin' %}
            <tr>
              <td>{{ task.user_type }}</td>
              <td>{{ task.user_username }}</td>
              <td>{{ task.description }}</td>
              {% if current_user.type == 'admin' %}
                <td><a href="{{ url_for('staff.task_delete', task=task.id) }}">Delete</a></td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </table>

      {% if current_user.type == 'admin' %}
        <a class="add-task btn btn-primary" href="{{ url_for('staff.task_add') }}">Add Task</a>
      {% endif %}
    </div>
  </section>



  <script>
    const socket = io()
    const room = 'announcements'

    socket.on('connect', () => {
      socket.emit('join', room)
    })

    socket.on('announcements', (data) => {
      console.log(`Received announcement: ${data}`)
      const a_description = document.getElementById('a-description')
      const a_date = document.getElementById('a-date')

      const Timestamp = new Date(data.date)
      const TimestampFormatted = `${Timestamp.getDate()}/${Timestamp.getMonth()}/${Timestamp.getFullYear()} ${Timestamp.getHours()}:${Timestamp.getMinutes()}:${Timestamp.getSeconds()}`

      a_description.innerHTML = data.description
      a_date.innerHTML = TimestampFormatted

      var audio = new Audio("{{ url_for('static', filename='images/notification.mp3') }}")
      audio.play()

      // Request permission to display notifications
      Notification.requestPermission().then(function(permission) {
        if (permission === 'granted') {
          var notification = new Notification('Announcement', {
              body: data.description,
              icon: "{{ url_for('static', filename='images/icon-nobackground.png') }}"
          });
        }
      });
    })
  </script>
</div>
{% endblock %}