{% extends "layouts/client.html" %}

{% block title %}Dashboard - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/staff/dashboard.css') }}" />
{% endblock %}

{% block content %}
  <aside>
    <div>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'staff.dashboard' else '' }}" href="{{ url_for('staff.dashboard') }}"><p>Overview</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Business Management</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Business Dashboard</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Business chats</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Inventory</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Enquiries</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Carbon Trading Platform</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Staff Chat Platform</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Advisors Management</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Insights/News Platform Management</p></a>
      <a id="nav1" class="{{ 'side-nav-selected' if request.endpoint == 'auth.login' else '' }}" href="#"><p>Editors Management</p></a>
    </div>
    <div>
  </aside>
  <div class="search1">

  </div>

  <div class="logoname">
    <a>Company</a>
  </div>
{% endblock %}