{% extends 'layouts/staff.html' %}

{% block title %}Enquiries - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/staff/main.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid" id="main">
    <div class="view-companyinfo">
        <h2>Contact Form Enquiries</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Employee Name</th>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Industry</th>
                <th>Company Size</th>
                <th colspan="2">Actions</th>
            </tr>
            <tr>
                {% for detail in data %}
                <td>{{detail.id}}</td>
                <td>{{detail.employee_name}}</td>
                <td>{{detail.company_name}}</td>
                <td>{{detail.company_email}}</td>
                <td>{{detail.industry}}</td>
                <td>{{detail.company_size}}</td>
                <td rowspan="2"><a href="{{ url_for('staff.enquiry_edit', enquiry=detail.id) }}">Edit</a></td>
                <td><a href="{{ url_for('staff.enquiry_delete', enquiry=detail.id) }}">Delete</a></td>

                {% endfor %}
            </tr>
        </table>

    </div>

</div>
{% endblock %}