.article-page {
  color: white;
}

.article {
  margin-top: 100px;
  width: 80vw;
  word-break: break-word;
  display: flex;
  flex-flow: column;
}

.post-content p img:nth-child(1) {
  width: 100% !important;
  object-fit: cover;
}

p {
  margin-bottom: 1rem;
}

form input {
  font-family: "Nunito";
}

form input[type="file"] {
  color: white;
}

#imageInput::file-selector-button {
  font-family: "Nunito";
  font-weight: bold;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: background-color 0.1s ease-in;
}

#imageInput::file-selector-button:hover {
  background-color: rgb(223, 223, 223);
}

#imageInput::file-selector-placeholder {}



form input[type="text"] {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
  margin-bottom: 10px;
}

form input[type="submit"] {
  font-weight: bold;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  padding: 5px 20px;
  margin-top: 10px;
}


.form-footer {
  float: right;
}

.form-footer div {
  margin-right: 10px;
}

@media screen and (min-width: 1024px) {
  .article {
    width: 1000px;
  }
}