.article-page {
  color: white;
}

.article {
  margin-top: 100px;
  width: 80vw;
  word-break: break-word;
  display: flex;
  flex-flow: column;
}

.post-content p img {
  width: 100% !important;
  max-height: 400px;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .article {
    width: 1000px;
  }

}