/* Home */

.home-page {
  position: relative;
  color: var(--main-color);
  display: flex;
  flex-flow: column;
  gap: 5px;
}

.section-header {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}


/* .sections {
  background-color: #30583e;
}

.sections:nth-child(odd) {
  background-color: transparent;
} */


.home-slider {
  height: inherit;
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: row;
  overflow-x: hidden;
  z-index: -1;
  background-color: black;
  pointer-events: none;
}


.home-page .home .home-slider img {
  flex: 0 0 100%;
  height: inherit;
  width: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  filter: brightness(0.7) contrast(0.8) saturate(1.2);
  object-position: center center;
  transition: transform 0.3s ease;
}

.home-slider::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, #FFFFFF1A 50%);
  height: 100%;
  width: 100%;
}

.home-page .home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.home .mini-arrow {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  z-index: 1;
  display: inline-flex;
  flex-flow: column;
  align-items: center;

  animation: bounce 1s infinite linear alternate;
  transition: 0.2s ease;

  text-decoration: none;
}

.home .mini-arrow:hover {
  color: #adadad;
  transition: 0.2s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.home .slider-buttons {
  position: absolute;
  bottom: 10px;
}

.slider-buttons span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.slider-buttons .btn-selected {
  background-color: #adadad;
}

.slider-header {
  position: absolute;
  color: white;
  left: 80px;
  top: 180px;
}

.slider-header h1 {
  color: white;
  font-size: 2rem;
  text-align: left;
}

.slider-header p {
  font-size: 1.4rem;
  color: rgb(218, 218, 218);
  line-height: 1;
}

.home-aboutus {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-aboutus .aboutus {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  /* font-size: 16px; */
  gap: 15px;
  width: 100%;
  margin: 0 auto;
}

.home-aboutus img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.7);
  object-position: center center;
}


.home-aboutus .aboutus p {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.222;
  color: inherit;
  text-align: center;
  width: 550px;
  padding: 20px;
}

.home-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
  top: 0;
}

.home-news .row>a {
  display: flex;
  color: white;
  text-decoration: none;
  height: 100%;
  flex-direction: column;
}

.home-news .news-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
  gap: 20px;
  overflow-x: auto;
}

.news-row::-webkit-scrollbar {
  width: 5px;
}

.news-row h2 {
  padding: 10px;
  white-space: nowrap;
}

.home-news .news-row>a {
  color: black;
  text-decoration: none;
}

.home-news .catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  background: white;
  border-radius: 7px;
  overflow: hidden;
}

.home-news .catalog .news-head {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 15px;
  text-align: left;
}

.home-news .catalog .news-head .post-header {
  font-weight: 600;
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: "...";
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-news .catalog-image-container {
  position: relative;
  width: 100%;
  height: 250px;
}

.home-news .catalog-image-container>img {
  object-fit: cover;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  background-size: cover;
  pointer-events: none;
}

.home-services {
  background-color: #4b7e5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
}

.home-services .products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.home-services .products-list .product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: 300px;
  padding: 20px;
  border-radius: 9px;
  background-color: #54a170;
}

.home-services .products-list .product .product-info {
  text-align: center;
}

.home-services .products-list .product .product-header {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

/* Clients */

.home-clients {
  padding: 40px 0;
}

.clients-logo {
  display: flex;
  position: relative;
  width: 800px;
  justify-content: flex-end;
  margin: 0 auto;
  overflow: hidden;
  height: 200px;
  object-fit: contain;
  padding: 40px 0;
  background-color: #ffffff;
  border-radius: 17px;
}

.clients-logo img {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 7px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .home-clients {
    padding: 20px 0;
  }
}