/* Home */

.home-page {
  gap: 10px;
  color: white;
}

.home-page .home img {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.7) contrast(0.8) saturate(1.2) blur(1px);
  object-position: top center;
}

.home-page .home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.home-page .home div p {
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(rgb(230, 248, 223), #7aaa8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-aboutus {
  background-color: #4b7e5c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-aboutus>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: white;
  width: 50%;
  text-align: justify;
  font-size: calc(16px + 0.5vw);
  gap: 5px;
  font-weight: 600;
}

.home-news {
  background-color: #32533d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
}

.home-news .row>a {
  display: flex;
  color: white;
  text-decoration: none;
  height: 100%;
  flex-direction: column;
}

.home-news .news-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}

.home-news .news-row>a {
  color: white;
  text-decoration: none;
}

.home-news .catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
  background: #6b9478;
  border-radius: 14px;
  overflow: hidden;
}

.home-news .catalog .news-head {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 15px;

}

.home-news .catalog>div>div>* {
  padding-bottom: 5px;
}

.home-news .catalog-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  min-height: auto;
  flex-basis: auto;
  flex-shrink: 1;
}

.home-news .catalog-image-container>img {
  object-fit: cover;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  background-size: cover;
  pointer-events: none;
}

/* News */

.news-page .news>img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
  filter: opacity(0.5);
}

.news-page .news {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  width: 100%;
  padding-bottom: 50px;
}

.news-page .news .news-header {
  margin-top: 50px;
  white-space: nowrap;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.news-header {
  padding: 50px;
}

.news-header h1 {
  text-align: left;
  font-size: 2.5rem;
}

.add-post-button {
  font-family: "Nunito";
  display: inline-block;
  padding: 10px 20px;
  background-color: #6e6e6e;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-post-button::after {
  font-family: "Font Awesome 5 Pro";
  content: "\f055";
  margin-left: 5px;
  line-height: 0;
}

.add-post-button:hover {
  background-color: #505050;
}

.news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: auto;
  margin: 0 auto;
}

.featured-news {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: #578166;
  color: white;
  border-radius: 16px;
  transition: 0.3s;
}

.featured-news:hover {
  background-color: #6b9478;
  transition: background-color 0.2s linear;
}

.featured-news img {
  height: 280px;
  width: 340px;
  position: relative;
  display: flex;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
  transition: 0.2s;
  pointer-events: none;
}

.featured-news:hover img {
  transform: scale(1.02);
  transition: 0.2s linear;
}

.featured-news>div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.featured-news .news-date {
  color: #e7e7e7;
  font-size: 16px;
}

.readmore {
  color: #e7e7e7;
  font-size: 18px;
  text-decoration: underline;
}

.news-section .news-column {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 940px;
  gap: 15px;
  margin-top: 10px;
  flex-grow: 1;
}

.news-section .news-column>a {
  display: flex;
  color: white;
  text-decoration: none;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}


.news-section .catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 462px;
  background: #578166;
  border-radius: 14px;
  word-break: break-word;
  overflow: hidden;
}

.news-section .catalog-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.news-section .catalog-image-container>img {
  object-fit: cover;
  transition: 0.2s;
  height: 100%;
  width: 100%;
  height: 264px;
  background-size: cover;
  pointer-events: none;
}

.news-section .news-column>a:hover .catalog-image-container>img {
  transform: scale(1.02);
  transition: 0.2s linear;
}

.news-section .catalog .news-head {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
  transition: background-color 0.2s linear;
}

.news-head p {
  font-size: 20px;
  font-weight: 600;
}

.news-section .news-column>a:hover .news-head {
  background-color: #6b9478;
  transition: 0.2s linear;
}

.news-section .catalog .news-head .news-date {
  color: #e7e7e7;
  font-size: 15px;
}

.news-description {
  height: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.select-featured-post-label {
  font-family: "Nunito";
  font-size: 18px;
  padding: 2px 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
}

select {
  font-family: "Nunito";
  font-size: 16px;
  padding: 2px 10px;
  border: none;
  border-radius: 5px;
  background-color: #5a5a5a80;
  color: white;
  transition: 0.2s linear;
  cursor: pointer;
  margin-right: 5px;
  width: 220px;
}

select:hover option,
select:focus option,
select:active option {
  background-color: #47474780;
}

select:hover,
select:focus,
select:active {
  background-color: #47474780;
}

.save-featured-button {
  font-family: "Nunito";
  display: inline-block;
  background-color: #6e6e6e;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 3px 15px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
}

.save-featured-button:hover {
  background-color: #6e6e6e;
}

.administrator-editing-tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;

}

.add-post-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 970px) {
  .featured-news {
    word-break: break-all;
  }

  .news-section .news-column {
    width: 740px;
  }

  .news-section .catalog {
    width: 352px;
  }
}

@media screen and (max-width: 768px) {

  .featured-news {
    display: none;
  }

  .news-section .news-column {
    width: 100%;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }

  .news-section .catalog {
    width: 432px;
  }
}