/* Services */

.services-container {
  color: white;
  margin: 0 auto;
}

.services-container .header {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  margin-bottom: 50px;
}

.services-container .products-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.products-list .product-header {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;

}

.services-container .products-list .product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  border-radius: 9px;
  background-color: #578166;
}

.services-container .products-list .product .product-info {
  text-align: center;

}