@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(49, 143, 37, 0.4);
  filter: invert(100%);
}

body {
  background-color: #456c52;
  font-family: "Nunito";
}

nav {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
}

.nav-logo {
  display: flex;
  float: left;
  color: white;
}

.nav-logo a {
  text-decoration: none;
  color: white;
}

nav ul li,
.nav-logo {
  display: inline-flex;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #c5d7c5;
}

#nav-selected {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #333;
}

/* Home */

.container .home img {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
  filter: opacity(0.5);
}

.container .home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container .home div p {
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* News */

.container .news > img {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
  filter: opacity(0.5);
}

.container .news {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  height: 100vh;
  width: 100%;
}

.container .news .news-header {
  margin-top: 100px;
}

.news-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-row {
  display: flex;
  margin: 10px;
}

.news-section .news-column {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.news-section .news-column {
  margin: 5px;
}

.news-section .catalog {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 400px;
  border: 1px solid black;
}

.news-section .catalog > img {
  height: 300px;
  width: auto;
  object-fit: cover;
  object-position: center;
}

.news-section .catalog > div {
  padding: 5px;
}

/* Login */

.login-container {
  margin-top: 100px;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 48, 27, 0.2);
  border-radius: 17px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-family: "Nunito";
}

.login-container > p {
  font-weight: bold;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container form input {
  height: 40px;
  width: 250px;
  border: 1px solid white;
  margin: 5px;
  border-radius: 17px;
  padding-left: 15px;
  font-size: 20px;
}

.login-container form input::placeholder {
  position: relative;
  line-height: 0px;
  font-family: "Nunito";
  word-wrap: break-word;
  font-size: 18px;
}

.login-container form input[type="submit"] {
  color: black;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 17px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.login-container form input[type="submit"]:hover {
  background-color: #c5d7c5;
}

.login-container form input:focus {
  outline: 2px solid black;
  border-radius: 2rem;
}
