@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(49, 143, 37, 0.4);
  filter: invert(100%);
}

body {
  background-color: #456c52;
  font-family: "Nunito";
}

nav {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
}

.nav-logo {
  display: flex;
  float: left;
  color: white;
}

.nav-logo a {
  text-decoration: none;
  color: white;
}

nav ul li,
.nav-logo {
  display: inline-flex;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #addaad;
}

#nav-selected {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #333;
}

/* Home */

.home-page {
  gap: 10px;
}

.container .home img {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
  filter: opacity(0.5);
}

.container .home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container .home div p {
  font-size: 5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(rgb(230, 248, 223), #77b88d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-aboutus {
  background-color: #4b7e5c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-aboutus > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: white;
  width: 50%;
  text-align: center;
  font-size: calc(16px + 0.5vw);
  gap: 5px;
  font-weight: 600;
}

.home-news {
  background-color: #32533d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-news .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.home-news .catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 400px;
  background: #6b9478;
  border-radius: 12px;
  overflow: hidden;
}

.home-news .catalog > img {
  position: relative;
  height: 250px;
  width: auto;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.home-news .catalog > div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.home-news .catalog > div > div > * {
  padding-bottom: 5px;
}

/* News */

.container .news > img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  object-fit: cover;
  z-index: -1;
  filter: opacity(0.5);
}

.container .news {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  width: 100%;
}

.container .news .news-header {
  margin-top: 100px;
  white-space: nowrap;
}

.news-header {
  padding: 100px;
}

.news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.featured-news {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 20px;
  background-color: #578166;
  color: white;
  border-radius: 16px;
}

.featured-news img {
  height: 250px;
  position: relative;
  display: flex;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  border-radius: 16px;
}

.featured-news > div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}

.featured-news .news-date {
  color: #e7e7e7;
  font-size: 16px;
}

.readmore {
  color: #e7e7e7;
  font-size: 18px;
  text-decoration: underline;
}

.news-row {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.news-section .news-column {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 940px;
  gap: 15px;
  margin-top: 10px;
  flex-grow: 1;
}

.news-section .news-column > a {
  display: flex;
  color: white;
  text-decoration: none;
  height: 100%;
  flex-direction: column;
}

.news-section .catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 452px;
  background: #578166;
  border-radius: 16px;
  word-break: break-word;
  overflow: hidden;
}

.news-section .catalog-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 266px;
  min-height: auto;
  flex-basis: auto;
  flex-shrink: 1;
}

.news-section .catalog-image-container > img {
  object-fit: cover;
  transition: 0.3s;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.news-section .news-column > a:hover .catalog-image-container > img {
  transform: scale(1.02);
  transition: 0.3s;
}

.news-section .catalog .news-head {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}

.news-description {
  height: 150px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

/* Login */

.login-container {
  margin-top: 100px;
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 48, 27, 0.2);
  border-radius: 17px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  font-family: "Nunito";
}

.login-container > p {
  font-weight: bold;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container form input {
  height: 40px;
  width: 250px;
  border: 1px solid white;
  margin: 5px;
  border-radius: 17px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}

.login-container form input::placeholder {
  position: relative;
  line-height: 0px;
  font-family: "Nunito";
  word-wrap: break-word;
  font-size: 18px;
}

.login-container form input[type="submit"] {
  color: black;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 17px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  transition: 0.3s;
}

.login-container form input[type="submit"]:hover {
  background-color: #c5d7c5;
}

.login-container form input:focus {
  outline: 2px solid black;
  border-radius: 2rem;
}
