{% extends "layouts/main.html" %}

{% block title %}Article - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/article.css') }}" />

{{ ckeditor.load() }}
{% endblock %}


{% block content %}
<div class="container article-page">
  <div class="article">
    <p>{{ article.date.strftime('%B %d, %Y') }}</p>
    <!-- <img src="{{ url_for('static', filename='images/' + article.image_name)}}" alt=""> -->


    {% if current_user.is_authenticated == true and (current_user.type == "admin" or current_user.type == "author") %}
    <div class="delete-button">
      <a href="{{url_for('main.news', deletepost=article.postid)}}" style="color: red; text-decoration: underline;">Delete
        Current Post</a>
    </div>
    <form method="POST">
      {{ form.hidden_tag() }}
      <br>
      <p>
        This will be the image on the news page
        <br>
        {{ form.image_view_onNews(value=article.image_name) }}
      </p>

      <p>
        {{ form.title.label }}
        <br>
        {{ form.title(value=article.title) }}
      </p>

      <p>
        {{ form.content.label() }}
        {{ form.content() }}
      </p>

      <div class="form-footer">

        <div class="status-message" style="display: inline-block;">
          {% if status_message != none %}{{status_message}}{% endif %}</div>
        <input type="submit" value="Save">
      </div>
    </form>
    {{ ckeditor.config(name='content') }}
    <script>
      CKEDITOR.instances['content'].setData(`{{ article.content | safe }}`);

    </script>
    {% else %}

    <div>
      <h2>{{ article.title }}</h2>
      <div class='postid_{{ article.postid }} post-content'>
        {{ article.content | safe }}
      </div>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}