{% extends "layouts/main.html" %}

{% block title %}Article - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/article.css') }}" />

{{ ckeditor.load() }}
{% endblock %}


{% block content %}
<div class="container article-page">
  <div class="article">
    <p>{{ article.date.strftime('%B %d, %Y') }}</p>


    {% if current_user.username == "admin" or current_user.username == "author" %}
    <form method="POST">
      {{ form.hidden_tag() }}
      <p>
        {{ form.title.label }}
        <br>
        {{ form.title(value=article.title) }}
      </p>

      <p>
        {{ form.content.label() }}
        {{ form.content() }}
      </p>

      <input type="submit" value="Submit">
    </form>
    {{ ckeditor.config(name='content') }}

    <script>
      CKEDITOR.instances['content'].setData(`{{ article.content | safe }}`);

    </script>
    {% else %}

    <div>
      <p>{{ article.title }}</p>
      <p class='postid_{{ article.postid }} post-content'>{{ article.content | safe }}</p>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}