{% extends "layouts/main.html" %}
{% block title %}Contact Form - EcoVision{% endblock%}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/main/contact.css')}}" />
<script src="{{url_for('static', filename='js/darkmode.js')}}"></script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="contact-form">
    <p class="contact-form-header">Tell us about your company</p>
    <a class="toggle-darkmode"><i class="fas fa-moon"></i></a>
    <form action="" method="POST">
      <div>
        <p>
          {{form.employee_name}}
        </p>
        <p>
          {{form.company_name}}
        </p>
        <p>
          {{form.company_email}}
        </p>
        <p>
          {{form.industry}}
        </p>
        <p>
          {{form.company_size}}
        </p>
      </div>
      {{form.submit()}}
      {{ form.csrf_token }}
    </form>

    {% if error_message %}
    <p class="error-message">
      <i class="fa-regular fa-circle-info"></i>{{ error_message }}
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}