{% extends "layouts/main.html" %}

{% block title %}Login - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="" />
{% endblock %}

{% block content %}
  <div class="container login-page">
    <div class="first-time-form">
      <p style="color: white; font-size: 22px">Tell us about your company</p>
      <form action="" method="POST">
        <div>{{form.text}}</div>
        <div>{{form.submit()}}</div>
        {{ form.csrf_token }}
      </form>

      {% if error_message %}
        <p class="error-message"><i class="fa-regular fa-circle-info"></i>{{ error_message }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}