{% extends "layouts/main.html" %}

{% block title %}News - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/home.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="news">
    <img src="{{ url_for('static', filename='images/pexels-alyssa-polaris-1859622.jpg') }}" />

    <div class="news-section">
      <div class="news-header">
        <h1 style="color: white">Latest News</h1>
        {% if current_user.type == 'admin' or current_user.type == 'author' %}
        <div style="position: relative; float: right;">
          <a href="{{ url_for('main.news', addpost=true) }}" class="add-post-button">Add Post</a>

        </div>
        {% endif %}
      </div>

      <div class="news-column">
        {% for post in data %}
        {% if post.postid == 18 %}
        <a href="{{ url_for('main.news', postid=post.postid) }}">
          <div class="featured-news">
            <img src="{{ url_for('static', filename='images/' + post.image_name) }}" alt="" />
            <div>
              <h2>
                How Singapore plans to import solar power from the world’s largest
                solar plant
              </h2>
              <p class="news-date">20 May 2023</p>

            </div>
          </div>
        </a>
        {% endif %}
        {% endfor %}

        {% for post in data|reverse %}
        <a href="{{ url_for('main.news', postid=post.postid) }}">
          <div class="catalog postid_{{ post.postid }}">
            <div class="catalog-image-container">
              <img src="{{ url_for('static', filename='images/' + post.image_name) }}" loading="lazy" />
            </div>
            <div class="news-head">
              <h3>{{ post.title }}</h3>
              <p class="news-date">{{ post.date.strftime('%B %d, %Y') }}</p>
            </div>
          </div>
        </a>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}