{% extends "layouts/main.html" %}

{% block title %}News - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main/news.css') }}" />
{% endblock %}

{% block content %}
<div class="container-fluid news-page">
  <div class="news">
    <img src="{{ url_for('static', filename='images/pexels-alyssa-polaris-1859622.jpg') }}"/>

    <div class="news-section">
      <div class="news-header">
        <h1>News</h1>
        {% if current_user.is_authenticated == true and (current_user.type == 'admin' or current_user.type == 'author')
        %}
        <div style="position: relative" class="administrator-editing-tools">
          <form method="POST">
            <label for="select-featured-post" class="select-featured-post-label">Featured Post:</label>
            <select name="select-featured-post" id="select-featured-post">
              {% for post in data %}
              {% if post.postid == setFeaturedNews %}
              <option value="{{post.postid}}" selected>{{post.postid}} - {{post.title}}
              </option>
              {% else %}
              <option value="{{post.postid}}">{{post.postid}} - {{post.title}}
              </option>

              {% endif %}
              {% endfor %}
            </select>
            <input type="submit" value="Save" class="save-featured-button" />
          </form>

        </div>
        <div style="position: relative" class="add-post-container">
          <a href="{{ url_for('main.news', addpost=true) }}" class="add-post-button">Add Post</a>

        </div>
        {% endif %}
      </div>

      <div class="news-column">
        {% for post in data %}
        {% if post.postid == setFeaturedNews %}
        <a href="{{ url_for('main.news', postid=post.postid) }}" style="width: 100%;">
          <div class="featured-news">
            <div class="featured-tag">Featured</div>
            <img src="{{ url_for('static', filename='images/uploads/' + post.image_name) }}" alt="" />
            <div class="featured-head">
              <p class="news-date">{{ post.date.strftime('%B %d, %Y') }}</p>
              <h2>
                {{ post.title }}
              </h2>

            </div>
          </div>
        </a>
        {% endif %}
        {% endfor %}

        {% for post in data|reverse %}
        <a href="{{ url_for('main.news', postid=post.postid) }}">
          <div class="catalog postid_{{ post.postid }}">
            <div class="catalog-image-container">
              <img src="{{ url_for('static', filename='images/uploads/' + post.image_name) }}" loading="lazy" />
            </div>
            <div class="news-head">
              <p class="post-header">{{ post.title }}</p>
              <p class="news-date">{{ post.date.strftime('%B %d, %Y') }}</p>
            </div>
          </div>
        </a>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}