#account-page {
    position: relative;
    height: 50vh;
}


.account {
    padding: 15px;
    margin: auto;
    text-align: center;
    color: white;
    width: 400px;
    border-radius: 8px;
}

.list-pages {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

}

.list-pages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.list-pages ul li span {
    font-size: 20px;
    font-weight: bold;
}

.list-pages ul li a {
    text-decoration: none;
    color: #ffffff;
    /* white */
    font-size: 18px;
    font-weight: 600;
}

.list-pages ul li a::before {
    content: "\00bb";
}

.list-pages ul li a:hover {
    color: #dddddd;
    /* darker white */
}



.button {
    position: relative;
    background-color: #578166;
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.1s;
    font-weight: bold;
}


footer {
    display: none;
}