.login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Nunito";
}

.login-page img {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    height: inherit;
    width: inherit;
    object-fit: cover;
    z-index: -1;
    filter: blur(2px);
}

.image-overlay {
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(68, 68, 68, 0), rgba(68, 68, 68, 0));
    height: inherit;
    width: inherit;
    z-index: -1;
}

footer {
    display: none;
}

.login-container {
    height: 410px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(240,240,240, 0.9);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: "Nunito";
}

.login-container>h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: black;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field {
    margin-bottom: 10px;
}

.login-container form input {
    height: 40px;
    width: 250px;
    border: 0;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border: solid 1px gray;
}

.login-container form input::placeholder {
    position: relative;
    line-height: 0px;
    font-family: "Nunito";
    word-wrap: break-word;
    font-size: 18px;
}

.login-container form input[type="submit"] {
    color: black;
    font-family: "Nunito";
    font-size: 20px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(130,190,130);
    margin-top: 10px;
    border: none;
    color: white;
}

.login-container form input[type="submit"]:hover {
    background-color: rgb(100,160,100);
}

.subtext {
    margin-top: 10px;
}

.subtext a {
    text-decoration: none;
    color: rgb(90, 23, 235);
    font-weight: 700;
}

.subtext a:hover {
    text-decoration: underline;
}