nav {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: brightness(.6) blur(12px) opacity(0.5);
  transition: 0.3s ease;
  --nav-color: rgb(240, 240, 240);
}

.nav-background {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: brightness(.6) blur(12px) opacity(1);
  transition: 0.3s ease;
}

nav ul {
  display: flex;
  list-style-type: none;
  /* text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4); */
  margin-bottom: 0;
}

.nav-logo {
  display: flex;
  float: left;
}

.nav-logo a {
  text-decoration: none;
  color: var(--nav-color);
}

nav ul li,
.nav-logo {
  display: inline-flex;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.1s ease;
}

nav ul li a {
  text-decoration: none;
  color: var(--nav-color);
  transition: color 0.1s ease;
}

nav ul li a:hover {
  color: var(--nav-color);
  transition: all 0.1s ease;
}

nav ul li::after {
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--nav-color);
  content: "";
  bottom: 0;
  transition: all 0.2s ease-in-out
}

nav ul li:hover::after {
  width: 100%;
}


.nav-selected {
  color: white;
  font-weight: bold;
}

.nav-selected::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  content: "";
  bottom: 0;
  transition: all 0.1s ease;
}

/* Footer */

footer div {
  color: white;
  padding: 20px;
  /* background-color: #456c52; */
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}