nav {
  display: flex;
  background-color: transparent;
  padding: 1rem;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.3s ease-out;
}

.nav-background {
  transition: 0.3s ease-in;
  background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;
  list-style-type: none;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}

.nav-logo {
  display: flex;
  float: left;
  color: white;
}

.nav-logo a {
  text-decoration: none;
  color: white;
}

nav ul li,
.nav-logo {
  display: inline-flex;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.1s ease;
}

nav ul li a {
  text-decoration: none;
  color: rgb(236, 236, 236);
  transition: color 0.1s ease;
}

nav ul li a:hover {
  color: white;
  transition: all 0.1s ease;
}

nav ul li:hover::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  content: "";
  bottom: 0;
  transition: all 0.1s ease;
}


.nav-selected {
  color: white;
  font-weight: bold;
}

/* Footer */

footer div {
  color: white;
  padding: 20px;
  /* background-color: #456c52; */
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}