#content {
    padding: 20px;
}

section h2,
div h2 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}



.addrow {
    margin-left: 10px;
    margin-right: 0;
    padding: 8px 6px;
    width: 180px;
    background-color: lightgoldenrodyellow;
    margin-bottom: 10px;
    border-radius: 5px;
}

.addrow > a {
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}



.assessments {
    display: flex;
    flex-wrap: wrap;
}

.assessment {
    display: block;
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    border-radius: 10px;
    background-color: rgb(200, 210, 200);
    text-decoration: none;
    color: black;
    border: none;
    text-align: left;
}

.a-name {
    font-size: 20px;
    font-weight: bold;
}

.a-type {
    margin-bottom: 5px;
    font-size: 17px;
}

.a-location {
    font-size: 15px;
}

.a-progress {
    margin-top: 10px;
    font-size: 14px;
}

.a-buttons {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.a-button {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.a-button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}