body {
    color: black;
}

hr {
    margin: 10px 10px;
    width: calc(100% - 20px);
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgba(10, 10, 10, 0.5);
}

h2 {
    font-size: 15px;
}



#content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.cards-left,
.cards-right {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.cards-left {
    width: 70%;
}

.cards-right {
    width: 30%;
}

.dash-card {
    margin: 5px;
    width: 100%;
    height: max-content;
    background-color: rgb(210, 220, 210);
    border-radius: 10px;
}

.statsbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statsbox>div {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
}

.statsbox h3 {
    font-size: 15px;
}

.statsbox p {
    font-size: 12px;
    color: black;
    font-weight: 600;
    text-align: center;
}



#carbonfootprint {
    background-color: lightsalmon;
}

#energyusage {
    background-color: lightgreen;
}

#waterusage {
    background-color: lightblue;
}



#carbonfootprintexceeded {
    background-color: lightcoral;
}

#carbonfootprintoffsetted {
    background-color: lightgreen;
}



table {
    border-collapse: collapse;
}

table th {
    font-size: 20px;
}

table td,
table th {
    padding: 5px;
    color: inherit;
    border: solid 1px rgb(200, 200, 200);
}

table a {
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    color: #007acc;
}



.notifications {
    display: flex;
    padding: 10px;
}

.notif-bell {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 8px;
    min-width: 30px;
    height: 30px;
    background-color: rgb(240, 245, 240);
    border-radius: 100%;
}

.notifications p {
    padding-top: 3px;
    font-size: 15px;
    vertical-align: middle;
}

.notif-button {
    display: inline-block;
    margin: 5px;
    padding: 8px;
    width: calc(50% - 15px);
    color: black;
    background-color: rgb(240, 245, 240);
    border-radius: 10px;
    text-decoration: none;
}

.notif-button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.notif-button h3 {
    margin: 0;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 1100px) {
    .notif-button {
        display: block;
        margin: 5px 0;
        width: 100%;
    }
}



#locations-stat {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#managelocations {
    display: block;
    margin: 5px;
    padding: 8px;
    color: black;
    background-color: rgb(240, 245, 240);
    border-radius: 10px;
    text-decoration: none;
}

#managelocations:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#managelocations h3 {
    margin: 0;
    text-align: center;
    font-size: 15px;
}



.location {
    width: 100%;
}

.manageutilities {
    margin-left: auto;
    padding: 10px;
    width: 180px;
    background-color: lightgoldenrodyellow;
}

.manageutilities>a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.location>h3 {
    text-align: center;
}