body {
    color: black;
}

hr {
    margin: 0 25px;
    width: calc(100% - 50px);
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgba(10, 10, 10, 0.5);
}



#content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.cards-left,
.cards-right {
    display: flex;
    flex-wrap: wrap;
}

.cards-left {
    width: 70%;
}
.cards-right {
    width: 30%;
}

.dash-card {
    margin: 5px;
    width: 100%;
    background-color: rgb(210,220,210);
    border-radius: 10px;
}

.statsbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.statsbox > div {
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
}

.statsbox h3 {
    font-size: 15px;
}

.statsbox p {
    font-size: 12px;
}



#carbonfootprint {
    background-color: lightsalmon;
}

#energyusage {
    background-color: lightgreen;
}

#waterusage {
    background-color: lightblue;
}

#managelocations {
    background-color: lightpink;
}

#managelocations > a {
    color: black;
    text-decoration: none;
}

#managelocations > a > h3 {
    border-bottom: solid 1px black;
}



#notifications {
    background-color: lightpink;
}

#consultants {
    background-color: lightgoldenrodyellow;
}

#enquiries {
    background-color: aquamarine;
}

#consultants > a,
#enquiries > a {
    color: black;
    text-decoration: none;
}

#consultants > a > h3,
#enquiries > a > h3 {
    border-bottom: solid 1px black;
}



#carbonfootprintexceeded {
    background-color: lightcoral;
}

#carbonfootprintoffsetted {
    background-color: lightgreen;
}

#carbontradingplatform {
    background-color: aquamarine;
}

#carbontradingplatform > a {
    color: black;
    text-decoration: none;
}

#carbontradingplatform > a > h3 {
    border-bottom: solid 1px black;
}



.location {
    width: 100%;
}

.manageutilities {
    margin-left: auto;
    padding: 10px;
    width: 180px;
    background-color: lightgoldenrodyellow;
}

.manageutilities > a {
    color: black;
    text-align: center;
    text-decoration: none;
}

.location > h3 {
    text-align: center;
}