body {
    color: black;
}

hr {
    margin: 10px 10px;
    width: calc(100% - 20px);
    border: 0;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgba(10, 10, 10, 0.5);
}

h2 {
    font-size: 15px;
}



#content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.cards-left,
.cards-right {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.cards-left {
    width: 70%;
}

.cards-right {
    width: 30%;
}

.dash-card {
    margin: 5px;
    width: 100%;
    height: max-content;
    background-color: rgb(200, 210, 200);
    border-radius: 10px;
}

.dash-section {
    margin: 5px;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
    height: max-content;
}

.statsbox {
    display: flex;
    flex-wrap: wrap;
}

.statsbox .stats:last-child {
    margin-right: 0;
}

.stats {
    margin-bottom: 10px;
    margin-right: 10px;
    width: calc((100% - 20px) / 2);
    border-radius: 10px;
    background-color: rgb(200, 210, 200);
}

.stats .statline {
    float: left;
    width: 10px;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.stats h3 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 14px;
}

.stats p {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}



#carbonfootprint .statline {
    background-color: lightsalmon;
}

#energyusage .statline {
    background-color: lightgreen;
}

#waterusage .statline {
    background-color: lightblue;
}

#totalcarbonfootprint .statline {
    background-color: lightpink;
}



.message-button {
    display: block;
    margin: 5px;
    padding: 8px;
    color: black;
    background-color: rgb(240, 245, 240);
    border-radius: 10px;
    text-decoration: none;
}

.message-button:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.message-button h3 {
    margin: 0;
    text-align: center;
    font-size: 15px;
}



#locations-stat {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#managelocations {
    display: block;
    margin: 5px;
    padding: 8px;
    color: black;
    background-color: rgb(240, 245, 240);
    border-radius: 10px;
    text-decoration: none;
}

#managelocations:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#managelocations h3 {
    margin: 0;
    text-align: center;
    font-size: 15px;
}



.location {
    width: 100%;
}

.manageutilities {
    display: block;
    margin-left: auto;
    padding: 10px;
    width: 180px;
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    text-decoration: none;
}

.manageutilities:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.location canvas {
    max-width: 600px;
    max-height: 350px;
}