section {
    padding: 10px;
}

hr {
    margin: 0 25px;
    width: calc(100% - 50px);
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgba(10, 10, 10, 0.1);
}



h2 {
    padding-top: 50px;
    font-size: 25px;
    font-weight: bold;
}

.addutility {
    margin-left: auto;
    padding: 10px;
    width: 180px;
    background-color: lightgoldenrodyellow;
}

.addutility>a {
    color: black;
    text-align: center;
    text-decoration: none;
}
