{% extends "layouts/client.html" %}

{% block title %}Assessment - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/assessments.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <section>
      <h2>Assessment</h2>

      <p class="title">{{ assessment.name }}</p>
      <p class="type">{{ assessment.type }}</p>

      <p><span class="label">Location:</span> {{ assessment.location }}</p>
      <p><span class="label">Start Date:</span> {{ assessment.start_date }}</p>
      <p><span class="label">Completed Date:</span> {{ assessment.completed_date }}</p>
      <p><span class="label">Progress:</span> {{ assessment.progress }}%</p>

      <hr>

      <h2>Documents</h2>

      {% if current_user.type != "client" %}
        <div class="addrow">
          <a href="{{ url_for('client.document_add', assessment=assessment.id) }}">
            <p>Add Document</p>
          </a>
        </div>
      {% endif %}

      <table>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Updated</th>
          {% if current_user.type != "client" %}
            <th>Actions</th>
          {% endif %}
          <th>View</th>
        </tr>
        {% for id, document in documents.items() %}
          <tr>
            <td>{{ document.name }}</td>
            <td>{{ document.created }}</td>
            <td>{{ document.updated }}</td>
            {% if current_user.type != "client" %}
              <td><a href="{{ url_for('client.document_delete', assessment=assessment.id, document=id) }}">Delete</a></td>
            {% endif %}
            <td><a href="{{ url_for('client.document', assessment=assessment.id, document=id) }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></td>
          <tr>
        {% endfor %}
      </table>
    </section>
  </div>
{% endblock %}