{% extends "layouts/staff.html" %}

{% block title %}Add Assessment Transaction - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/forms.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <h1>Add Assessment Transaction</h1>
    <form action="" method="POST" class="row g-3 needs-validation" novalidate>

      <div class="col-md-4">
        <label for="name" class="form-label">Name</label>
        {{ form.name(id_="name", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid name.
        </div>
      </div>

      <div class="col-md-4">
        <label for="description" class="form-label">Description</label>
        {{ form.description(id_="description", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid description.
        </div>
      </div>

      <div class="col-md-4">
        <label for="date" class="form-label">Date</label>
        {{ form.date(id_="date", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid date.
        </div>
      </div>

      <div class="col-md-4">
        <label for="price" class="form-label">Price</label>
        {{ form.price(id_="price", class_="form-control") }}
        <div class="invalid-feedback">
          Please enter a valid price.
        </div>
      </div>

      <div class="col-12">
        {{ form.csrf_token }}
        <button class="btn button" type="submit">Add Assessment Transaction</button>
      </div>
    </form>

    <script>
      const forms = document.querySelectorAll('.needs-validation')

      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    </script>
  </div>
{% endblock %}