{% extends "layouts/client.html" %}

{% block title %}Assessments - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/assessments.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <section>
      <h2>Assessments</h2>

      {% if current_user.type != "client" %}
        <div class="addrow">
          <a href="{{ url_for('client.assessment_add') }}">
            <p>Add Assessment</p>
          </a>
        </div>
      {% endif %}

      <div class="assessments">
        {% for id, assessment in assessments.items() %}
          <button class="assessment" onclick="navigate({{id}})">
            <p class="a-name">{{ assessment.name }}</p>
            <p class="a-type">{{ assessment.type }}</p>
            <p class="a-location">Address: {{ assessment.location }}</p>
            <p class="a-progress">
              Progress:
              <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-info" style="width: {{ assessment.progress }}%">{{ assessment.progress }}%</div>
              </div>
            </p>
            <div class="a-buttons">
              {% if current_user.type == "admin" or current_user.type == "manager" %}
                <a class="a-button" href="{{ url_for('client.assessment_transaction_add', assessment=id) }}">Add Payment</a>
              {% endif %}
              {% if current_user.type != "client" %}
                <a class="a-button" href="{{ url_for('client.assessment_edit', assessment=id) }}">Edit</a>
                <a class="a-button" href="{{ url_for('client.assessment_delete', assessment=id) }}">Delete</a>
              {% endif %}
            </div>
          </button>
        {% endfor %}

        <script>
          function navigate(id) {
            window.location.href = `/client/assessment/${id}`
          }
        </script>
      </div>
    </section>
  </div>
{% endblock %}