{% extends "layouts/client.html" %}

{% block title %}Assessments - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/forms.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <section>
      <h2>Assessments</h2>

      <p>ID: {{ id }}</p>
      <p>Location: {{ assessment.location }}</p>
      <p>Name: {{ assessment.name }}</p>
      <p>Type: {{ assessment.type }}</p>
      <p>Progress: {{ assessment.progress }}</p>
      <p><a href="{{ url_for('client.assessment_edit', assessment=id) }}">Edit</a></p>
      <p><a href="{{ url_for('client.assessment_delete', assessment=id) }}">Delete</a></p>

    </section>
  </div>
{% endblock %}