{% extends "layouts/client.html" %}

{% block title %}Add Company - EcoVision{% endblock %}

{% block head %}{% endblock %}

{% block content %}
  <div style="padding: 10px;">
    <h1 style="padding-top: 50px;">Add Company</h1>
    <form action="" method="POST">
      <div>{{form.name}}</div>
      <div>{{form.industry}}</div>
      <div>{{form.address}}</div>
      <div>{{form.email}}</div>
      <div>Plan: {{form.plan}}</div>
      <div>{{form.submit()}}</div>
      {{ form.csrf_token }}
    </form>
  </div>
{% endblock %}