{% extends "layouts/client.html" %}

{% block title %}Dashboard - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/dashboard_custom.css') }}" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
{% endblock %}

{% block content %}
  <div id="content">
    <div class="cards-left">
      <section class="dash-section">
        <h2 id="overview-title">Overview (Last Month)</h2>
        <div class="statsbox">
          <div id="carbonfootprint" class="stats">
            <div class="statline"></div>
            <h3>Carbon Footprint</h3>
            <p>{{ overview.carbonfootprint }} CO2e</p>
          </div>
          <div id="energyusage" class="stats">
            <div class="statline"></div>
            <h3>Energy Usage</h3>
            <p>{{ overview.energyusage }} kWh</p>
          </div>
          <div id="waterusage" class="stats">
            <div class="statline"></div>
            <h3>Water Usage</h3>
            <p>{{ overview.waterusage }} Gallons</p>
          </div>
        </div>

        <script>
          title = document.getElementById("overview-title")
          month = new Date({{ overview.timerange }}).toLocaleString('default', { month: 'long', year: 'numeric' })
          title.textContent = `Overview (${month})`
        </script>
      </section>

      <section class="dash-section">
        <h2>Carbon Trading</h2>
        <div class="statsbox">
          <div id="totalcarbonfootprint" class="stats">
            <div class="statline"></div>
            <h3>Total Carbon Footprint Emitted</h3>
            <p>{{ overview.totalcarbonfootprint }} CO2e</p>
          </div>
          <div id="carbonfootprintexceeded" class="stats">
            <div class="statline"></div>
            <h3>Exceeded Carbon Footprint</h3>
            <p>{{ overview.carbonfootprintexceeded }} CO2e</p>
          </div>
          <div id="carbonfootprintoffsetted" class="stats">
            <div class="statline"></div>
            <h3>Total Carbon Footprint Offset</h3>
            <p>{{ overview.carbonfootprintoffsetted }} CO2e</p>
          </div>
        </div>
      </section>

      <section class="dash-section">
        <h2>Assessments</h2>
        <div class="listbox">
          <table>
            <tr class="table-header">
              <th>Location</th>
              <th>Name</th>
              <th>Type</th>
              <th>Progress</th>
              <th>View</th>
            </tr>
            {% for id, assessment in assessments.items() %}
              <tr>
                <td>{{ assessment.location }}</td>
                <td>{{ assessment.name }}</td>
                <td>{{ assessment.type }}</td>
                <td>{{ assessment.progress }}%</td>
                <td><a href="{{ url_for('client.assessment', assessment=id) }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></td>
              <tr>
            {% endfor %}
          </table>
        </div>
      </section>
    </div>

    <div class="cards-right">
      <section class="dash-card">
        <h2>Notifications</h2>
        <div class="notifications">
          <div class="notif-bell">
            <i class="fa fa-bell" aria-hidden="true"></i>
          </div>
          <p>
            You have {{ overview.notifications }} unread messages
          </p>
        </div>
        <a class="notif-button" href="{{ url_for('main.room') }}">
          <h3>Consultants</h3>
        </a>
        <a class="notif-button" href="{{ url_for('main.room') }}">
          <h3>Enquiries</h3>
        </a>
      </section>

      <section class="dash-card">
        <h2>Locations</h2>
        <p id="locations-stat">{{ overview.locations }}</p>
        <a id="managelocations" href="{{ url_for('client.locations') }}">
          <h3>Manage Locations</h3>
        </a>
      </section>
    </div>

    {% for id, location in locations.items() %}
      <hr>
      <section class="location">
        <h2>{{ location.name }}</h2>
        <a href="{{ url_for('client.location_utility', location=id) }}" class="manageutilities">
          <p>Manage Utility Bills</p>
        </a>

        <h3>Usage Graph</h3>
        <canvas id="chart-{{ id }}"></canvas>

        <script>
          const rawtimerange{{ id }} = {{ location.timerange }}
          const timerange{{ id }} = []

          rawtimerange{{ id }}.forEach((datetime) => {
            timerange{{ id }}.push(new Date(datetime * 1000))
          })

          const chart{{ id }} = new Chart(document.getElementById("chart-{{ id }}"), {
            type: "line",
            data: {
              labels: timerange{{ id }},
              datasets: [
                {
                  label: 'Carbon Footprint',
                  data: {{ location.carbonfootprint }},
                  borderColor: 'rgba(255, 0, 0, 0.8)',
                  backgroundColor: 'rgba(255, 0, 0, 0.05)'
                },
                {
                  label: 'Energy Usage',
                  data: {{ location.energyusage }},
                  borderColor: 'rgba(0, 255, 0, 0.8)',
                  backgroundColor: 'rgba(0, 255, 0, 0.05)'
                },
                {
                  label: 'Water Usage',
                  data: {{ location.waterusage }},
                  borderColor: 'rgba(0, 0, 255, 0.8)',
                  backgroundColor: 'rgba(0, 0, 255, 0.05)'
                }
              ]
            },
            options: {
              plugins: {
                legend: {
                  position: 'bottom'
                }
              },
              scales: {
                x: {
                  title: {
                    display: true,
                    text: 'Month'
                  },
                  type: 'time',
                  time: {
                    tooltipFormat: 'DD MMM YYYY'
                  }
                },
                y: {
                  title: {
                    display: true,
                    text: 'Usage'
                  },
                  min: 0,
                }
              }
            }
          });
        </script>
      </section>
    {% endfor %}
  </div>
{% endblock %}