{% extends "layouts/client.html" %}

{% block title %}Dashboard - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/dashboard_free.css') }}" />

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
{% endblock %}

{% block content %}
  <div id="content">
    <div class="cards-left">
      <section class="dash-section">
        <h2 id="overview-title">Overview (Last Month)</h2>
        <div class="statsbox">
          <div id="totalcarbonfootprint" class="stats">
            <div class="statline"></div>
            <h3>Total Carbon Footprint Emitted</h3>
            <p>{{ overview.totalcarbonfootprint|round(5) }} CO2e</p>
          </div>
          <div id="carbonfootprint" class="stats">
            <div class="statline"></div>
            <h3>Carbon Footprint</h3>
            <p>{{ overview.carbonfootprint|round(5) }} CO2e</p>
          </div>
          <div id="energyusage" class="stats">
            <div class="statline"></div>
            <h3>Energy Usage</h3>
            <p>{{ overview.energyusage|round(5) }} kWh</p>
          </div>
          <div id="waterusage" class="stats">
            <div class="statline"></div>
            <h3>Water Usage</h3>
            <p>{{ overview.waterusage|round(5) }} m<sup>3</sup></p>
          </div>
        </div>

        <script>
          title = document.getElementById("overview-title")
          month = new Date({{ overview.timerange }}).toLocaleString('default', { month: 'long', year: 'numeric' })
          title.textContent = `Overview (${month})`
        </script>
      </section>
    </div>

    <div class="cards-right">
      <section class="dash-card">
        <h2>Messages</h2>
        <a class="message-button" href="{{ url_for('main.room') }}">
          <h3>Enquiries</h3>
        </a>
      </section>

      <section class="dash-card">
        <h2>Locations</h2>
        <p id="locations-stat">{{ overview.locations }}</p>
        <a id="managelocations" href="{{ url_for('client.locations') }}">
          <h3>Manage Locations</h3>
        </a>
      </section>
    </div>

    {% for id, location in locations.items() %}
      <hr>
      <section class="location">
        <h2>{{ location.name }}</h2>
        <a href="{{ url_for('client.location_utility', location=id) }}" class="manageutilities">
          <p>Manage Utility Bills</p>
        </a>

        <h3>Usage Graph</h3>
        <canvas id="chart-{{ id }}"></canvas>

        <script>
          const rawtimerange{{ id }} = {{ location.timerange }}
          const timerange{{ id }} = []

          rawtimerange{{ id }}.forEach((datetime) => {
            timerange{{ id }}.push(new Date(datetime * 1000))
          })

          const chart{{ id }} = new Chart(document.getElementById("chart-{{ id }}"), {
            type: "line",
            data: {
              labels: timerange{{ id }},
              datasets: [
                {
                  label: 'Carbon Footprint (CO2e)',
                  data: {{ location.carbonfootprint }},
                  borderColor: 'rgba(255, 0, 0, 0.8)',
                  backgroundColor: 'rgba(255, 0, 0, 0.05)'
                },
                {
                  label: 'Energy Usage (kWh)',
                  data: {{ location.energyusage }},
                  borderColor: 'rgba(0, 255, 0, 0.8)',
                  backgroundColor: 'rgba(0, 255, 0, 0.05)'
                },
                {
                  label: 'Water Usage (m3)',
                  data: {{ location.waterusage }},
                  borderColor: 'rgba(0, 0, 255, 0.8)',
                  backgroundColor: 'rgba(0, 0, 255, 0.05)'
                }
              ]
            },
            options: {
              plugins: {
                legend: {
                  position: 'bottom'
                }
              },
              scales: {
                x: {
                  title: {
                    display: true,
                    text: 'Month'
                  },
                  type: 'time',
                  time: {
                    tooltipFormat: 'DD MMM YYYY'
                  }
                },
                y: {
                  title: {
                    display: true,
                    text: 'Usage (CO2e, kWh, m3)'
                  },
                  min: 0,
                }
              }
            }
          });
        </script>
      </section>
    {% endfor %}
  </div>
{% endblock %}