{% extends "layouts/client.html" %}

{% block title %}{{ document.name }} - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/document.css')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>

  <script>
    tinymce.init({
      selector: 'textarea#content',
      plugins: 'anchor autolink image link lists media searchreplace table wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
    });
  </script>
{% endblock %}

{% block content %}
  <div id="content">
    <section>
      <h2>{{ document.name }}</h2>

      {% if current_user.type == "client" %}
        <button class="button" onclick="downloadPDF()">Download PDF</button>
        <hr>
        <div id="doc">{{ document.content | safe }}</div>
      {% else %}
        <form method="POST">
          <button class="button" onclick="downloadPDF()">Download PDF</button>
          <input class="button" type="submit" value="Save">
          <textarea name="content" id="content" cols="30" rows="30" placeholder="Content">{{ document.content }}</textarea>
        </form>
      {% endif %}

      <script>
        function downloadPDF() {
          var doc = document.getElementById('doc')
          var options = {
            margin:       5,
            filename:     '{{ document.name }}.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
          }
      
          html2pdf().set(options).from(doc).save();
        }
      </script>
    </section>
  </div>
{% endblock %}