{% extends "layouts/client.html" %}

{% block title %}{{ document.name }} - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/document.css')}}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
{% endblock %}

{% block content %}
  <div id="content">
    <section>
      <h2>{{ document.name }}</h2>
      <h2>Your Download Will Begin Shortly!</h2>

      <hr>
      <div id="doc">{{ document.content | safe }}</div>

      <script>
        function downloadPDF() {
          var doc = document.getElementById('doc')
          var options = {
            margin:       5,
            filename:     '{{ document.name }}.pdf',
            image:        { type: 'jpeg', quality: 0.98 },
          }
      
          html2pdf().set(options).from(doc).save();
        }

        downloadPDF()
        setTimeout(() => {
          window.location.href = "{{ url_for('client.document', assessment=assessment, document=document.id) }}"
        }, 1000)
      </script>
    </section>
  </div>
{% endblock %}