{% extends "layouts/client.html" %}

{% block title %}{{ document.name }} - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/document.css')}}">

  <script>
    tinymce.init({
      selector: 'textarea#docContent',
      plugins: 'anchor autolink image link lists media searchreplace table wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat'
    });
  </script>
{% endblock %}

{% block content %}
  <div id="content">
    <section>
      <h2>{{ document.name }}</h2>

      {% if current_user.type == "client" %}
        <button class="button" onclick="downloadPDF()">Download PDF</button>
        <hr>
        <div id="doc">{{ document.content | safe }}</div>
      {% else %}
        <form id="saveForm" method="POST">
          <button class="button" onclick="downloadPDF()" type="button">Download PDF</button>
          <input name="download" id="download" type="hidden" value="">
          <input class="button" type="submit" value="Save">

          <textarea name="docContent" id="docContent" cols="30" rows="30" placeholder="Content">{{ document.content }}</textarea>
        </form>
      {% endif %}

      <script>
        function downloadPDF() {
          window.location.href = "{{ url_for('client.document_download', assessment=assessment, document=document.id) }}"
        }
      </script>
    </section>
  </div>
{% endblock %}