{% extends "layouts/client.html" %}

{% block title %}Add Utility - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/forms.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <h1>Add Utility</h1>
    <form action="" method="POST">
      <div>{{form.name}}</div>
      <div>{{form.date}}</div>
      <div>{{form.carbonfootprint}}</div>
      <div>{{form.energyusage}}</div>
      <div>{{form.waterusage}}</div>
      <div>{{form.submit()}}</div>
      {{ form.csrf_token }}
    </form>
  </div>
{% endblock %}