@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #456C52;
  font-family: "Nunito", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Center content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Add a title */
h1 {
  font-size: 3rem;
  text-align: center;
  color: #333;
}

/* Add a button */
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.btn:hover {
  background-color: #555;
}
