{% extends "layout.html" %} {% block content %}

<div class="container home-page">
  <div class="home">
    <img src="{{ url_for('static', filename='images/leaves.jpg') }}" />
    <div>
      <p>Welcome</p>
    </div>
  </div>

  <div class="home-aboutus">
    <div>
      <h3>About Us</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat eius
        architecto, delectus cumque accusantium tempora optio quasi enim, autem
        omnis beatae sed non asperiores harum numquam. Facilis, quaerat
        quibusdam! Laudantium.
      </p>
    </div>
  </div>

  <div class="home-news">
    <h2>News</h2>
    <div class="row">
      {% for key, value in news %} {% if key <= "3" %} <a href="{{ url_for('news', postid=value.postid) }}">
        <div class="catalog postid_{{ value.postid }}">
          <div class="catalog-image-container">
            <img src="{{ url_for('static', filename='images/' + value.image) }}" />
          </div>
          <div class="news-head">
            <h2>{{ value.title }}</h2>
          </div>
        </div>
        </a>
        {% endif %} {% endfor %}
    </div>
  </div>

  <div class="home-services">
    <h2>Services</h2>

  </div>
</div>

{% endblock %}