{% extends "layout.html" %} {% block content %}

<div class="container home-page">
  <div class="home">
    <img src="{{ url_for('static', filename='images/pexels-mikhail-nilov-8299700.jpg') }}" />
    <div>
      <p>Welcome</p>
    </div>
  </div>

  <div class="home-aboutus">
    <div>
      <h3>About Us</h3>
      <p>
        We as a company are dedicated to providing the best service to our customers. We are a small company that is
        growing and we are looking to expand our services to the entire country. (This is a test paragraph)
      </p>
    </div>
  </div>

  <div class="home-news">
    <h2>News</h2>
    <div class="row">
      {% for key, value in news %} {% if key >= display_posts %} <a href="{{ url_for('news', postid=value.postid) }}">
        <div class="catalog postid_{{ value.postid }}">
          <div class="catalog-image-container">
            <img src="{{ url_for('static', filename='images/' + value.image) }}" />
          </div>
          <div class="news-head">
            <h2>{{ value.title }}</h2>
          </div>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div class="home-services">
    <h2>Services</h2>

  </div>
</div>

{% endblock %}