{% extends "layout.html" %} {% block content %}

<div class="container services-container">
    <div class="header">
        <h2>Consultation Plans</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore vero quas molestiae cumque quisquam.
            Ipsum delectus dicta possimus nemo molestias explicabo, ratione, corporis perspiciatis amet numquam magnam
            soluta veniam eum!</p>
    </div>

    <div class="products-list">
        <div class="product">
            <h3>Product Name</h3>
            <div class="product-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="product">
            <h3>Product Name</h3>
            <div class="product-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="product">
            <h3>Product Name</h3>
            <div class="product-info">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content%}