.Sub-header a {
    text-decoration: none;
    font-weight: bolder;
}

.Image {
    width: 100%;
    height: 45vh;
    position: relative;
    z-index: -1;
}

.Image img {
    position: absolute;
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: center center;
    outline: 2px solid #fff; /* Add a white border */
    filter: blur(0.5px);
}

.Image h1 {
    position: relative;
    margin: 0 auto;
    top: 33%;
    left: 5%;
    color: lightgreen;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    word-break: keep-all;
    width: 70%;

}


.Image p {
    position: relative;
    margin: 0 auto;
    top: 33%;
    left: 5%;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    word-break: keep-all;
    width: 70%;
    font-style: italic;
}


.container {
    position: relative;
}

.Sub-header {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1em;
}

.Sub-header p {
    padding-bottom: 16px;
}

.filter {
    display: inline-block;
    vertical-align: bottom;
    
}

.image-container {
    position: relative;
    display: inline-block; /* Ensures the container wraps around the image */
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.image-container:hover .text-overlay {
    opacity: 1; /* Show text overlay on hover */
}

.text-overlay h2 {
    margin-top: 50%;
}

.text-overlay p {
    margin-top: 10px;
}

/* Style the image */
.image-container img {
    width: 40vh; /* Ensure image fills the container */
    height: 40vh; /* Maintain aspect ratio */
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    flex: 0 0 30%; /* Adjust width as needed */
    margin: 10px; /* Adjust margin between items */
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  
.project {
    width: calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin as needed */
}

.filter-form {
display: inline-block; /* Ensure the form box doesn't take up full width */
background-color: white; /* Set background color */
border: 1px solid black; /* Add border */
padding: 5px 10px; /* Add padding */
}

#filterSelect {
margin-right: 10px; /* Add some space between select and input */
}

.filter-form select {
    border: none; /* Remove the border */
}

.filter-container {
    display: flex;
    align-items: center; /* Align items vertically */
}
  
.introductory-text {
    flex: 0 0 auto; /* Don't allow text to grow or shrink */
    padding-right: 10px; /* Add some space between text and form */ 
    font-size: 1.3em;
    color: grey;
}
  

.image-container {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-item:hover .text-overlay {
    opacity: 1;
}

.methaneP {
    margin-bottom: 20px;
    padding-left: 4px;
    padding-left: 4px;
}

.RenewableP {
    background-color: #DCE6DC;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-left: 4px;
}

.ConvservationP {
    background-color: #DCE6DC;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-left: 4px;
}

.Project-Cells {
    text-align: center; /* Center the content horizontally */
}

.projects-title {
    margin-top: 20px; /* Adjust margin as needed */
}

.project-link {
    display: inline-block; /* Display as block-level element */
    padding: 10px 20px; /* Padding inside the box */
    border: 1px solid #fff; /* Border */
    background-color: transparent; /* Transparent background */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
}
.project-link:hover {
    background-color: rgba(213, 207, 207, 0.2); /* Semi-transparent white */
}

.RenewableP .project-link {
    display: inline-block; /* Display as block-level element */
    padding: 10px 20px; /* Padding inside the box */
    border: 1px solid #fff; /* Border */
    background-color: transparent; /* Transparent background */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
}
.RenewableP .project-link:hover {
    background-color: rgba(213, 207, 207, 0.2); /* Semi-transparent white */
}

.ConvservationP .project-link {
    display: inline-block; /* Display as block-level element */
    padding: 10px 20px; /* Padding inside the box */
    border: 1px solid #fff; /* Border */
    background-color: transparent; /* Transparent background */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
}
.ConvservationP .project-link:hover {
    background-color: rgba(213, 207, 207, 0.2); /* Semi-transparent white */
}

.view-link {
    display: inline-block; /* Display as block-level element */
    padding: 10px 20px; /* Padding inside the box */
    border: 1px solid #000; /* Border */
    background-color: transparent; /* Transparent background */
    color: #000; /* Text color */
    text-decoration: none; /* Remove underline */
}
.view-link:hover {
    background-color: rgba(213, 207, 207, 0.2); /* Semi-transparent white */
}

.User-Info {
    text-align: center;
}

.statsbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.statsbox>div {
    margin: 5px;
    padding: 5px;
    max-width: 250px;
    background-color: rgb(200,210,200);
    border-radius: 10px;
}
.statsbox h4 {
    font-size: 20px;
}