.Header {
    padding-top: 50px;
}

.Image {
    width: 100%;
    height: 45vh;
    position: relative;
    z-index: -1;
}

.Image img {
    position: absolute;
    width: 100%;
    height: 45vh;
    object-fit: cover;
    object-position: center center;
    outline: 2px solid #fff; /* Add a white border */
    filter: blur(0.5px);
}

.Image h1 {
    position: relative;
    margin: 0 auto;
    top: 33%;
    left: 5%;
    color: lightgreen;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    word-break: keep-all;
    width: 70%;

}

.Image p {
    position: relative;
    margin: 0 auto;
    top: 33%;
    left: 5%;
    color: white;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    word-break: keep-all;
    width: 70%;
    font-style: italic;
}


.container {
    position: relative;
}

.Sub-header {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 1em;
}

.Sub-header p {
    padding-bottom: 16px;
}

.filter {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px; /* Adjust spacing between the paragraphs and the filter */
}

.image-container {
    position: relative;
    display: inline-block; /* Ensures the container wraps around the image */
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.image-container:hover .text-overlay {
    opacity: 1; /* Show text overlay on hover */
}

.text-overlay h2 {
    margin-top: 50%;
}

.text-overlay p {
    margin-top: 10px;
}

/* Style the image */
.image-container img {
    width: 40vh; /* Ensure image fills the container */
    height: 40vh; /* Maintain aspect ratio */
}

.Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    flex: 0 0 30%; /* Adjust width as needed */
    margin: 10px; /* Adjust margin between items */
}

.image-container {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-item:hover .text-overlay {
    opacity: 1;
}

.methaneP {
    background-color: #DCE6DC;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-left: 4px;
}

.RenewableP {
    background-color: #DCE6DC;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-left: 4px;
}

.ConvservationP {
    background-color: #DCE6DC;
    margin-bottom: 20px;
    padding-left: 4px;
    padding-left: 4px;
}

.Project-Cells {
    text-align: center; /* Center the content horizontally */
}

.projects-title {
    margin-top: 20px; /* Adjust margin as needed */
}

.RenewableP .project-link {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.RenewableP .project-link::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.RenewableP .project-link:hover::after {
    height: calc(100% + 8px);
}

.methaneP .project-link {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.methaneP .project-link::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.methaneP .project-link:hover::after {
    height: calc(100% + 8px);
}

.ConvservationP .project-link {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.ConvservationP .project-link::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ConvservationP .project-link:hover::after {
    height: calc(100% + 8px);
}

a {
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 3px;
}

a:hover {
    color: white;
    background-color: black;
}
