.banner {
    background-color: beige;
    padding: 25px;
    font-weight: bolder;
    font-size: large;
}

.picture img {
    width: 100%;
    height: 400px;
    position: relative;
}

.overlap {
    position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 50px;
        font-weight: bold;
}

.Infomation {
    padding: 50px;
    font-weight: 600;
    font-size: large;
    
}
.Bot-Bar {
    padding: 35px;
    width: 100%;
    background-color: beige;
}
.post-content {
    padding: 20px;
}