<nav>
  <div class="nav-logo">
    <a href="{{ url_for('client.dashboard')}}">{{ g.company.name }}</a>
  </div>

  <ul>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'client.dashboard' else '' }}"
        href="{{ url_for('client.dashboard') }}">Dashboard</a>
    </li>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'trading.home' else '' }}"
        href="{{ url_for('trading.home') }}">Carbon Trading</a>
    </li>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'client.account' else '' }}"
        href="{{ url_for('client.account') }}">Account</a>
    </li>
  </ul>
</nav>