<nav>
  <div class="nav-logo">
    <a href="{{ url_for('main.home')}}">EcoVision</a>
  </div>

  <ul>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'main.home' else '' }}" href="{{ url_for('main.home') }}">Home</a>
    </li>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'main.services' else '' }}" href="{{ url_for('main.services') }}">Services</a>
    </li>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'main.news' else '' }}" href="{{ url_for('main.news') }}">News</a>
    </li>
    <li>
      <a class="{{ 'nav-selected' if request.endpoint == 'main.contactus' else '' }}" href="#">Contact Us</a>
    </li>
    <li>
      {% if current_user.is_authenticated == true %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
        <a class="{{ 'nav-selected' if request.endpoint == 'auth.login' else '' }}" href="{{ url_for('auth.login' )}}">Login</a>
      {% endif %}
    </li>
  </ul>
</nav>