<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">

  <!-- Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-pro-5.15.4.css')}}" type="text/css" />

  <!-- JS -->
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>

  <!-- Layout Head -->
  {% block layouthead %}{% endblock %}

  <!-- Head -->
  {% block head %}{% endblock %}
</head>

<body>
  {% block navbar %}{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}{% endblock %}
</body>

</html>