{% extends "base.html" %}

{% block content %}
  <div class="container home-page">
    <div class="home">
      <img src="{{ url_for('static', filename='images/pexels-mikhail-nilov-8299700.jpg') }}" />
      <div>
        <p>Welcome</p>
      </div>
    </div>

    <div class="home-aboutus">
      <div>
        <h3>About Us</h3>
        <p>
          We as a company are dedicated to providing the best service to our customers. We are a small company that is
          growing and we are looking to expand our services to the entire country. (This is a test paragraph)
        </p>
      </div>
    </div>

    <div class="home-news">
      <h2>News</h2>
      <div class="row">
        {% for post in news|sort(attribute="postid", reverse=true) %}
          <a href="{{ url_for('main.home', postid=post.postid) }}">
            <div class="catalog postid_{{ post.postid }}">
              <div class="catalog-image-container">
                <img src="{{ url_for('static', filename='images/' + post.image_name) }}" />
              </div>
              <div class="news-head">
                <h2>{{ post.title }}</h2>
                <p class="news-date">{{ post.date.strftime('%B %d, %Y') }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="home-services">
      <h2>Services</h2>
    </div>
  </div>
{% endblock %}