{% extends "layouts/client.html" %}

{% block title %}Carbon Trading - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trading/main.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/trading/dashboard.css') }}" />
{% endblock %}

{% block content %}
<div id="content">
  <div class="Welcome-block">
    <img src="{{url_for('static', filename='images/Carbon Trading2.png')}}" alt="">
    <h1>
      your personal automated carbon offset</h1>
    <h3>
      We help change the carbon that you created into oxygen and green energy for everypone to use</h3>
  </div>

  <div class="How-To">
    <div class="Para1">
      <div> <img src="../../static/images/RainForest.avif" alt="images"> </div>
      <h2>Carbon Trading is the first step to help make the world a better place!</h2>
      <br>
      <h3>EcoVision has been the #1 company to assist in helping green projects all around the
        world, we have worked with Apple Inc, Unilever, walmart IKEA and many more. we aim to
        reduce climate change as much as 50% by 2050.
      </h3>

    </div>


    <div id="Para2">
      <h2>How does carbon trading work</h2>
      <div class="Steps">
        <div class="Step1">
          <h3>1</h3>
          <p>Locate Project that you wish to purchase</p>
        </div>

        <div class="Step2">
          <h3>2</h3>
          <p>Click on View more on any project</p>
        </div>

        <div class="Step3">
          <h3>3</h3>
          <p>Add to cart, the amount of stock you would like to purchase</p>
        </div>

        <div class="Step4">
          <h3>4</h3>
          <p>Click send invoice, and we will send you an email!</p>
        </div>
      </div>
      <hr>
    </div>
  </div>

  <div class="Project-Cells">
    {% if current_user.is_authenticated == true and (current_user.type == "client" or current_user.type == "client") %}
    <p>HELLO WORLD</p>
    {% endif %}
    <hr>
    <h2> Projects </h2>
    <div class="Projects">
      <div class="renewable">
        {% for id, project in projects.items() %}
        {% if project.type == "Renewable" %}
        <h2>Renewable</h2>
        <div class="Project">
          <p>{{project.type}}</p>
          <p>{{project.name}}</p>
          <p>Stock : {{project.stock}}</p>
          <p>Stock price ($SGD) </p>
          <p>${{project.price}}</p>
          <a href="{{url_for('trading.project', project = id)}}">View Project</a>
        </div>
        {% endif%}
        {% endfor %}
      </div>
      <div class="conservation">
        {% for id, project in projects.items() %}
        {% if project.type == "Convservation" %}
        <h2>Convservation</h2>
        <div class="Project">
          <p>{{project.type}}</p>
          <p>{{project.name}}</p>
          <p>Stock : {{project.stock}}</p>
          <p>Stock price ($SGD) </p>
          <p>${{project.price}}</p>
          <a href="{{url_for('trading.project', project = id)}}">View Project</a>
        </div>
        {% endif%}
        {% endfor %}
      </div>
      <div class="methane">
        {% for id, project in projects.items() %}
        {% if project.type == "Methane" %}
        <h2>Methane</h2>
        <div class="Project">
          <p>{{project.type}}</p>
          <p>{{project.name}}</p>
          <p>Stock : {{project.stock}}</p>
          <p>Stock price ($SGD) </p>
          <p>${{project.price}}</p>
          <a href="{{url_for('trading.project', project = id)}}">View Project</a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      
    </div>
    <hr>
    {% if current_user.is_authenticated == true and (current_user.type == "admin" or current_user.type == "author") %}
    <div class="Admin">
      <p><a href="http://127.0.0.1:80/trading/projects">Add Project</a></p>
    </div>
    {% endif %}
  </div>

</div>


<!-- <div class="Footer">
  <ul>
    <li><a href="http://127.0.0.1/">Home</a></li>
    <li><a href="http://127.0.0.1/trading/Checkout">Checkout</a></li>
    <li><a href="http://127.0.0.1/contact">Email</a></li>
    <li><a href="http://127.0.0.1/client/account">Account</a></li>
    <li>
      <p>🍀</p>
    </li>
  </ul>
</div> -->
{% endblock %}