{% extends "layouts/client.html" %}

{% block title %}Carbon Trading - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/trading/dashboard.css') }}" />
{% endblock %}

{% block content %}
    <div class="Welcome-block">
      <p>Company, <br>
        your personal automated carbon offset</p>
    </div>

    <div class="Buttons">
      <div id="ButtonsBox">
        <button onclick="togglepurchase()" class="pur-info"> How do you purchase? </button>
        <button class="car-info"> Go to Carbon Caluator</button>
      </div>

      <div id="Purchase-info">
        <p>To purchase carbon credits 
          <br> 1. Click on any image 
          <br> 2. Select price range and amt 
          <br> 3. Make Payment</p>
      </div>

      <script>
        function togglepurchase() {
          var signinfomation = document.getElementById('Purchase-info');
          if (signinfomation.style.display === 'none') {
            signinfomation.style.display = 'block'; // Show the data container
          } else {
            signinfomation.style.display = 'none'; // Hide the data container
          }
        }
      </script>
    </div>
<hr>
    <div class="user-info">
      <button id="signin" onclick="toggleData(); SwitchData()">Sign in</button>
      <div id="sign-infomation">
        <p>Total offset <br> Electricity: 10 <br> Waste: 1</p>
        <p>4000 tons total</p>
      </div>

    <script>
      function toggleData() {
        var signinfomation = document.getElementById('sign-infomation');
        if (signinfomation.style.display === 'none') {
          signinfomation.style.display = 'block'; // Show the data container
        } else {
          signinfomation.style.display = 'none'; // Hide the data container
        }
      }
      function SwitchData() {
        var button = document.getElementById('signin');
        button.innerHTML = 'Client';
      }
    </script>
    </div>
<hr>
    <div class="Projects">
      {% for id, project in projects.items() %}
        <div class="Project">
          <p>{{project.name}}</p>
          <p>{{project.type}}</p>
          <p>{{project.stock}}</p>
          <a href="{{url_for('trading.project', project = id)}}">View More</a>
        </div>
      {% endfor %}
    </div>
<hr>
    <div class="Admin">
        <a href="http://127.0.0.1/trading/projects">ADMIN</a>
    </div>
{% endblock %}


