{% extends "layouts/client.html" %}

{% block title %}Projects - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/trading/ProjectF.css') }}" />
{% endblock %}

{% block content %}
  <section>
    <h2>Projects</h2>
    <div class="addlocation">
      <a href="{{ url_for('trading.project_add') }}"><p>Add Project</p></a>
    </div>
    <table id="locations">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>type</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% for id, project in projects.items() %}
        <tr>
          <td>{{ id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.type }}</td>
          <td><a href="{{ url_for('trading.project_edit', project=id) }}">Edit</a></td>
          <td><a href="{{ url_for('trading.project_delete', project=id) }}">Delete</a></td>
        <tr>
      {% endfor %}
    </div>
  </section>
{% endblock %}