{% extends "layouts/client.html" %}

{% block title %}Checkout - EcoVision{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/trading/Checkout.css') }}" />
{{ ckeditor.load() }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="subcontainer">
    <div class="start">
      <img src="../../static/images/LanceMoutain.webp" alt="image" class="topimg">
      <div class="overlap">
        <p>Checkout Page!</p>
      </div>
      {% for id, item in cart.items() %}
    </div>
    <div class="checkout-details">
      <p>{{item.id}}</p>
      <p>{{item.name}}</p>
      <p>{{item.stock}}</p>
      <p>{{item.type}}</p>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}