{% extends "layouts/client.html" %}

{% block title %}Project - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/trading/project.css') }}" />
{% endblock %}

{% block content %}
<div class="banner">
    <p style="padding-top: 60px;">Project {{project.name}} - {{project.type}}</p>
</div>

<div class="picture">
    <img src="../../static/images/PictureGarden.jpeg" alt="">
    <div class="overlap">
      <p>Welcome to Project {{project.name}} </p>
    </div>
</div>

<div class="Infomation">
    <p>"Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate 
      velit esse cillum dolore eu fugiat nulla pariatur. 
      Excepteur sint occaecat cupidatat non proident, sunt in culpa 
      qui officia deserunt mollit anim id est laborum."
    </p>
    <br>
    <p>
      "Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
      accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
      quae ab illo inventore veritatis et quasi architecto beatae vitae 
      dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
      aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
      eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
      qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
      sed quia non numquam eius modi tempora incidunt ut labore et dolore 
      magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
      exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
      commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
      voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
      dolorem eum fugiat quo voluptas nulla pariatur?
    </p>
</div>
<div class="Bot-Bar">
  <div id="stockBar"></div>

  <form id="textForm">
    <label for="textInput">Stock Amount</label><br>
    <input type="text" id="textInput" name="textInput"><br>
    <input type="button" value="Submit" onclick="submitText()">
  </form>
</div>
{% endblock %}
