{% extends "layouts/client.html" %}

{% block title %}Edit Project - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/client/forms.css')}}">
{% endblock %}

{% block content %}
  <div id="content">
    <h1>Edit Project</h1>
    <form action="" method="POST">
      <div>{{form.name}}</div>
      <div>{{form.type}}</div>
      <div>{{form.stock}}</div>
      <div>{{form.submit()}}</div>
      {{ form.csrf_token }}
    </form>
  </div>
{% endblock %}