{% extends "layouts/client.html" %}

{% block title %}Project - EcoVision{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/trading/Checkout.css') }}" />
{{ ckeditor.load() }}
{% endblock %}

{% block content %}
<div class="Start">
    <img src="../../static/images/LanceMoutain.webp" alt="image" class="topimg">
    <div class="overlap">
    <p>Checkout Page!</p>
    </div>
</div>
{% for id, item in cart.items() %}
  <div class="Choosen">
    <p>{{item.id}}</p>
    <p>{{item.name}}</p>
    <p>{{item.stock}}</p>
    <p>{{item.type}}</p>
  </div>
{% endfor %}
{% endblock %}